.players {
    display: inline-block;
}

.players .placeholder {
    border-radius: 8px;
    border: 2px solid #888;
    padding: 8px;
    background: #444
}

.players .menu {
    position: absolute;
    right: 0;
    max-height: 80%;
    overflow: auto;
}

.players .menu.closed {
    display: none;
}

.players .menu li {
    display: flex;
}
.players .menu li label {
    flex: 1 0 auto;
}

.players ul {
    list-style: none;
}